.article-item {
  padding: 1rem 1rem;
  position: relative;
  .draft-tools {
    background-color: white;
    border-radius: 6px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 10;
    visibility: hidden;
    display: flex;
  }
  &:hover .draft-tools {
    visibility: visible;
  }
  .article-icon {
    font-size: 60px;
  }
  .article-title {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 12px;
    label {
      line-height: 12px;
      font-weight: bold;
      color: var(--primary);
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}
