/* Buttons */

.btn {
  font-size: $btn-font-size;
  line-height: 1;
  font-family: $type1-regular;
  font-weight: $font-weight-medium;

  i {
    font-size: 1rem;
  }

  &.btn-rounded {
    @include border-radius(50px);
  }

  &.btn-fw {
    min-width: $button-fixed-width;
  }

  &.btn-sm {
    font-size: $btn-font-size-sm;
  }

  &.btn-lg {
    font-size: $btn-font-size-lg;
  }

  &.btn-xs {
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $btn-font-size-xs;
  }

  &.btn-xxs {
    padding: 0.2rem 0.2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    span {
      font-size: inherit;
    }
  }

  /* Buttons with only icons */
  &.btn-icon {
    width: 42px;
    height: 42px;
    padding: 0;

    &.btn-sm {
      width: 32px;
      height: 32px;
      font-size: 12px;
    }
  }

  /* Buttons with icon and text */
  &.btn-icon-text {
    .btn-icon-prepend {
      margin-right: 0.5rem;
    }

    .btn-icon-append {
      margin-left: 0.5rem;
    }
  }

  &.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
  }

  &.btn-no-hover-bg {

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: currentColor;
    }
  }
}

.btn-group {
  .btn {
    +.btn {
      border-left: 0;
    }
  }
}

.btn-toolbar {
  .btn-group {
    +.btn-group {
      @extend .ml-2;
    }
  }
}

/*social buttons*/
@each $color,
$value in $social-colors {
  .btn-#{$color} {
    @include social-button(social-color($color));
  }

  .btn-outline-#{$color} {
    @include social-outline-button(social-color($color));
  }
}

/* inverse buttons */
@each $color,
$value in $theme-colors {
  .btn-inverse-#{$color} {
    @include button-inverse-variant($value);
  }

  .btn-#{$color}:not(.btn-light) {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }

    &:focus,
    &:active {
      background: $value;
      border-color: $value;
    }
  }

  .btn-outline-#{$color} {

    // background: white;
    &:hover,
    &:focus,
    &:active {
      background: theme-color($color);
      color: $white;
    }
  }
}

.btn-secondary {
  background-color: #f2f2f2;
  color: var(--secondary) !important;
  border-color: #f2f2f2;

  &:hover {
    background-color: #f2f2f2 !important;
    color: #807b7b !important;
    border-color: #f2f2f2 !important;
  }

  &:active,
  &:focus,
  &.focus,
  &.active {
    background-color: #f2f2f2 !important;
    color: #949090 !important;
    border-color: #f2f2f2 !important;
  }

  &:disabled,
  &.disabled {
    background-color: #f2f2f2;
    color: #b0a7a7 !important;
    border-color: #f2f2f2;
  }
}


// Custom CSS for buttons

.btn-outline-warning {
  color: #fdaa00;
  border-color: #fdaa00;
}

.btn-danger {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
}
